.newViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  min-height: 100vh;
}

.newView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  gap: 20px;
}

.imageViewContainer {
  position: relative;
  height: 400px;
  width: 100%;
}

.newView h3 {
  color: black;
  width: 100%;
  font-size: larger;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.783);
}

.newTextIntro {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
}

.newTextContent {
  font-size: 1.2rem;
  text-align: justify;
}

@media (width <= 900px) {
  .newViewContainer {
    padding-top: 0;
    align-items: initial;
  }

  .imageViewContainer {
    position: relative;
    height: 300px;
  }

  .newTextIntro,
  .newTextContent {
    padding: 1rem;
  }

  .newView h3 {
    padding: 1rem 0;
  }
}
