.cardNew {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardNew:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.viewsContainer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background: rgb(214, 212, 212);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  gap: 5px;
  opacity: .7;
}
.imageCategoryContainer {
  position: relative;
  height: 250px;
  width: 100%;
  padding: 0.1rem;
}

.category {
  position: absolute;
  color: rgba(0, 0, 0, 0.806);
  padding: 0.2rem 2rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: rgba(29, 151, 181, 0.941);
}

.date {
  position: absolute;
  color: rgba(0, 0, 0, 0.806);
  padding: 0.2rem 1rem;
  left: 0.5rem;
  top: 0.5rem;
  background-color: rgba(181, 102, 29, 0.941);
}

.presentationCard {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.presentationCard h4 {
  color: #915c12;
  text-align: center;
  font-size: larger;
}

.presentationCard p {
  color: silver;
  text-align: center;
}

@media (width <= 700px) {
  .cardNew {
    scale: 1;
    box-shadow: silver 0px 3px 8px;
    width: 90%;
  }

  .cardNew:hover {
    transform: none;
    width: 90%;
  }
}
