.filterNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.filterNav li {
  list-style-type: none;
}

.btnFilterDefault {
  padding: 0.3rem 2rem;
  cursor: pointer;
  border: none;
  border-bottom: 0.5px silver solid;
}

.btnFilterActive {
  color: rgb(255, 255, 255);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 142, 253, 0.850577731092437) 100%
  );
}

.btnFilterDisabled {
  background: none;
}

.btnFilterDefault:hover {
  scale: 1.1;
}

.arrows {
  display: none;
}

@media (width <= 900px) {
  .filterNav {
    justify-content: flex-start;
    width: 100vw;
    overflow-x: scroll;
    padding: 0 1rem;
    gap: 0;
  }

  .filterNav li {
    padding: 0;
    margin: 0 0.5rem;
  }

  .filterNav::-webkit-scrollbar {
    display: none;
  }

  .btnFilterDefault:hover {
    scale: none;
  }

  .btnFilterDefault {
    border-bottom: none;
    height: 100%;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0.7rem 2rem;
  }
  .arrows {
    display: block;
    position: absolute;
    color: rgba(240, 248, 255, 0.285);
  }
  .leftArrow {
    left: 0;
    top: 0;
  }

  .rightArrow {
    right: 0;
    top: 0;
  }
}
