.filterNav {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  gap: 5px;
}

.filterNav li {
  list-style-type: none;
}

.btnFilterDefault {
  padding: 0.3rem 2rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
}

.btnFilterActive {
  position: relative;
  color: rgb(255, 255, 255);
  background: none;
  height: 100%;
  font-weight: bolder;
}

.btnFilterActive::after {
  position: absolute;
  content: "";
  background: #128091;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  visibility: visible;
}

.btnFilterDisabled {
  background: none;
}

.arrows {
  display: none;
}

@media (width <= 950px) {
  .filterNav {
    justify-content: flex-start;
    max-width: 95vw;
    overflow-x: scroll;
    padding: 0 1rem;
  }

  .filterNav li {
    padding: 0;
  }

  .filterNav::-webkit-scrollbar {
    display: none;
  }

  .btnFilterDefault:hover {
    scale: none;
  }

  .btnFilterDefault {
    border-bottom: none;
    height: 100%;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0.7rem 2rem;
  }
  .arrows {
    display: block;
    position: absolute;
    color: silver;
  }
  .leftArrow {
    left: 0;
    top: 0;
  }

  .rightArrow {
    right: 0;
    top: 0;
  }
}
