.footer {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer::after{
  content: "Copyright © 2022 Jamal SEBBARI. All Rights Reserved";
  font-weight: 100;
  display: flex;
  }



  