.logoName {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  letter-spacing: 3px;
}

.logoNameInHome {
  font-size: 10rem;
}

.slogan {
  font-size: 2rem;
}

.ballIcon {
  margin: 0 3px;
  width: 90px;
  height: 90px;
}

@media (width <= 700px) {
  .slogan {
    font-size: 1rem;
    text-align: center;
  }
  .logoNameInHome {
    font-size: 4rem;
  }

  .ballIcon {
    width: 40px;
    height: 40px;
  }
}
