.logoName {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  letter-spacing: 3px;
}

.logoNameInHome {
  font-size: 10rem;
}

.slogan {
  list-style: none;
  font-size: 1.3rem;
  display: flex;
}
.slogan::after {
  content: "...";
}

.slogan li:nth-child(2) {
  margin: 0 0.3rem;
}

.slogan li:nth-child(2)::after,
.slogan li:nth-child(2)::before {
  content: ",";
}

.ballIcon {
  margin: 0 3px;
  width: 90px;
  height: 90px;
}

@media (width <= 700px) {
  .slogan {
    text-align: center;
  }
  .logoNameInHome {
    max-width: 100%;
    font-size: 6rem;
    max-width: 100vw;
    padding-top: 1rem;
  }

  .ballIcon {
    max-width: 50px;
    max-height: 50px;
  }
}
