.loaderPageContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-image: url('../../assets/images/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.logoAndLink {
  position: relative;
  z-index: 2;
  display: flex;
  padding:5rem;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.606);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  overflow: hidden;
}

.logoAndLink::before{
  z-index:100;
content: "Live";
position:absolute;
background: rgb(241, 85, 85);
padding:.2rem 7rem;
transform: rotate(45deg);
right:-80px;
top:20px;
text-align: center;
}




.homeLink {
  padding: 1.5rem 3rem;
  position: relative;
  border-radius: 5px;
  background: rgba(29, 151, 181, 0.941);
}


/* .homeLink::after{
  content: "";
position:absolute;
background: rgb(246, 239, 239);
height:2px;
width:100%;
left:0;
bottom:0;
} */

.homeLink:hover {
  
  background:rgba(28, 134, 160, 0.738);
}

/* .overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.283);
}  */
